<h2>{{jugador.nombre}}</h2>

<mat-divider></mat-divider>
<br>

<form [formGroup]="formulario">

  <div class="row">

    <div class="col-sm">
      <div class="mb-3 row">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input type="text" required matInput formControlName="nombre">
        </mat-form-field>
      </div>
    </div>


    <div class="col-sm">
      <div class="mb-3 row">
        <mat-form-field appearance="outline">
          <mat-label>Identificación</mat-label>
          <input type="number" required matInput formControlName="identificacion">
        </mat-form-field>
      </div>
    </div>

    <div class="col-sm">
      <div class="mb-3 row">
        <mat-form-field appearance="outline">
          <mat-label> Dinero </mat-label>
          <input type="text" matInput formControlName="dinero">
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col example-button-row">

      <button mat-raised-button
              color="primary"
              *ngIf="jugador._id==''; else editar "
              (click)="crearJugador()"
              class="float-end">
              <mat-icon>add</mat-icon>
              Agregar
      </button>
      <ng-template #editar>
        <button mat-raised-button
              color="primary"
              [disabled]="!formulario.valid || formulario.pristine"
              class="float-end"
              (click)="editarJugador()">
              <mat-icon>done</mat-icon>
              Guardar</button>
      </ng-template>
      <button mat-raised-button
              color="warn"
              [mat-dialog-close]="false"
              class="float-end">
              <mat-icon>close</mat-icon>
              Cancelar
      </button>

    </div>
  </div>



</form>

<!-- <div class="row">
<div class="col">
  <span>Valores</span>
  <pre>{{formulario.value | json}}</pre>
</div>
</div> -->
