<h2>Definir apuesta</h2>

<mat-divider></mat-divider>
<br>

<form  [formGroup]="nuevaApuesta">

  <span *ngIf="!haveMoney" style="color: red;">Jugador sin dinero</span>

  <div class="row">

    <div class="col-sm" style="height: 70px;">
      <div class="mb-3 row">
        <mat-form-field appearance="outline" style="margin-bottom: 0px; margin-top: 0px;">
          <mat-label>Jugador</mat-label>
          <mat-select required  formControlName="jugador">
            <mat-option *ngFor="let jugador of jugadores" [value]="jugador">
              {{jugador.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-sm" style="height: 70px; width: 150px;">
      <div class="mb-3 row">
        <mat-form-field appearance="outline">
          <mat-label>Color</mat-label>
          <mat-select required  formControlName="color">
            <mat-option *ngFor="let color of colores" [value]="color">
              {{color}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-sm" style="height: 70px; width: 150px;" >
      <div class="mb-3 row">
        <mat-form-field appearance="outline">
          <mat-label>Numero</mat-label>
          <mat-select formControlName="numero">
            <mat-option *ngFor="let numero of numeros" [value]="numero">
              {{numero}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-sm" style="height: 70px; width: 150px;">
      <div class="mb-3 row">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Apuesta</mat-label>
          <input matInput type="number" required placeholder="Entre 11% - 19%" formControlName="apuesta">
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col example-button-row" style="height: 20px;">
      <button mat-raised-button color="accent"
              class="float-end"
              [disabled]="nuevaApuesta.pristine || !nuevaApuesta.valid || !haveMoney"
              (click)="agregarApostador()">
              <mat-icon>add</mat-icon>
              Agregar
      </button>
    </div>
  </div>

</form>

<h3>Resumen de apuesta</h3>

<mat-divider></mat-divider>
<br>

<form  [formGroup]="apuestaTotal">

    <div formArrayName="apuestas">
      <div *ngFor="let apuesta of apuestasArr.value; let i = index">
        <div class="row">
          <div class="col-sm-9" style="height: 40px;">

              <mat-list role="list" style="padding-top: 0px;">
                <mat-list-item role="listitem"> <p>{{apuesta.jugador.nombre | titlecase }} - <b>Color:</b> {{apuesta.color}} - <b>#</b>{{apuesta.numero}} - <b>Apuesta:</b>{{apuesta.apuesta}}% - {{apuesta.valorApuesta | currency}}</p></mat-list-item>
              </mat-list>

          </div>

          <div class="col-sm" style="height: 50px;">
            <div class="mb-2 row">
                <button mat-raised-button color="warn"
                        style="margin-top: 0px; margin-bottom: 0px; top: 7px;"
                        (click)="eliminarApuesta(i)"
                        class="float-end">Retirar apuesta
                </button>
            </div>
          </div>

          <hr>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col example-button-row">

        <button mat-raised-button color="primary"
                class="float-end"
                [disabled]="!apuestaTotal.valid"
                (click)="iniciarJuego()">
                <mat-icon>sports_esports</mat-icon>
                Jugar
        </button>

      </div>
    </div>

</form>















<!-- <br>
<div class="row">
<div class="col">
  <span>Valores</span>
  <pre>{{nuevaApuesta.value | json}}</pre>
</div>
</div> -->

<!-- <br>
<div class="row">
<div class="col">
  <span>Valores</span>
  <pre>{{apuestaTotal.value | json}}</pre>
  <pre>{{apuestaTotal.value | json}}</pre>
</div>
</div>
 -->
