<h2>Resumen apuestas</h2>

<mat-divider></mat-divider>
<br>

<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let item of apuestas">
    <p>
      <b>Jugador:</b> {{item.jugador.nombre}} - <b>Apuesta:</b> {{item.valorApuesta | currency}} a <b>#</b>{{item.numero}}
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
