
<mat-toolbar color="primary">
  <span>Casino App</span>
</mat-toolbar>
<br>

<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff00;">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a  class="nav-link"
                routerLinkActive="active"
                routerLink="./apuestas">Apuestas</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link"
                routerLinkActive="active"
                routerLink="./jugadores">Jugadores</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <mat-divider></mat-divider>
  <br>
  <router-outlet></router-outlet>
</div>
