
<!-- Boton para crear nuevo jugador, la info del metodo es ingfo comodin -->
<button mat-raised-button
        color="primary"
        (click)="editar( jugadorFalso )"
        class="float-end">
        <mat-icon>add</mat-icon>
         Agregar jugador
</button>
<br>
<br>
<br>

<!-- mat car que contiene tabla -->
<mat-card class="animate__animated animate__fadeIn">

  <!-- progres bar y alerta de data = 0 -->
  <div  class="d-flex justify-content-center"
        *ngIf="!data; else noData">

    <mat-progress-bar mode="indeterminate"
            class="animate__animated animate__fadeIn">
    </mat-progress-bar>
  </div>

  <ng-template #noData>
    <div  class="d-flex justify-content-center"
    *ngIf="dataSource.data.length === 0 ; else tabla">
      <div class="animate__animated animate__pulse alert alert-danger" role="alert" style="width: 100%; height: 65px; text-align: center;">
        No hay registros para mostrar
      </div>
    </div>
  </ng-template>

  <!-- Tabla -->
  <ng-template #tabla>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource">

        <ng-container *ngFor="let nameCol of displayed; let colIndex = index" matColumnDef="{{nameCol}}">
          <mat-header-cell *matHeaderCellDef>{{nameCol | titlecase}}</mat-header-cell>
          <mat-cell *matCellDef="let element">

            <div *ngIf="nameCol == 'nombre'">
              {{element[nameCol] | titlecase}}
            </div>

            <div *ngIf="nameCol == 'identificacion'">
              {{element[nameCol]}}
            </div>

            <div *ngIf="nameCol == 'dinero'">
              {{element[nameCol] | currency}}
            </div>


          </mat-cell>
        </ng-container>

        <!-- definicion de columna comodin para botones de editar y eliminar -->
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let row">

            <button mat-icon-button (click)="editar( row )" color="primary">
              <mat-icon>mode_edit</mat-icon>
            </button>

            <button mat-icon-button (click)="eliminar( row )" color="warn">
              <mat-icon>delete</mat-icon>
            </button>

          </mat-cell>
        </ng-container>

        <!-- definicion de columnas -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </table>
    </div>
  </ng-template>


  <mat-paginator  [pageSize]="itemsPerPage"
                  [pageSizeOptions]="pageSizeOptions"
                  showFirstLastButtons>
  </mat-paginator>

</mat-card>
