/* You can add global styles to this file, and also import other style files */
@import '~animate.css/animate.min';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Espaciado de botones material */
.example-button-row .mat-button-base {
  margin: 10px 5px 15px 5px;
}

.example-card {
  max-width: 300px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/* Estilo de scroll */
::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}
::-webkit-scrollbar-button {
  display: none;
}
